@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Sofadi One", system-ui;
}

body {
  color: rgb(var(--foreground-rgb));
  margin-top: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.primaryText {
  color: #0b757a;
}

.layout-container {
  height: 86vh;
}

.text-small {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg {
  /* animation:slide 23s ease-in-out infinite alternate; */
  background-image: linear-gradient(-60deg, black 50%, #fff 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 25s;
}

.bg3 {
  animation-duration: 25s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-55%);
  }
  100% {
    transform: translateX(25%);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
p {
  margin-bottom: 0 !important;
}

.text-white {
  color: #fff;
}

.text-medium {
  font-size: 14px;
  font-weight: 300;
}

.sidebar-hover:hover {
  background-color: #373838;
  /* opacity: 0.5; */
}
.email-row:hover {
  background-color: #f2f3f4;
}
.form-check-input:checked {
  background-color: #0b757a !important;
}
.form-check-input {
  border: 0.5px solid black !important;
  height: 14px !important;
  width: 14px !important;
}
